<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>OnlinePetrolPumpManegmentSystem</display-name>
  <welcome-file-list>
    <welcome-file>admindashboard.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>admin</display-name>
    <servlet-name>admin</servlet-name>
    <servlet-class>Org.petrolpump.admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/ad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MachineController</display-name>
    <servlet-name>MachineController</servlet-name>
    <servlet-class>org.petrolpump.admin.controller.MachineController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MachineController</servlet-name>
    <url-pattern>/newmachine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMachineController</display-name>
    <servlet-name>DeleteMachineController</servlet-name>
    <servlet-class>org.petrolpump.admin.controller.DeleteMachineController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMachineController</servlet-name>
    <url-pattern>/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMachineController</display-name>
    <servlet-name>UpdateMachineController</servlet-name>
    <servlet-class>org.petrolpump.admin.controller.UpdateMachineController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMachineController</servlet-name>
    <url-pattern>/updmachine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinalMachineUpdate</display-name>
    <servlet-name>FinalMachineUpdate</servlet-name>
    <servlet-class>org.petrolpump.admin.controller.FinalMachineUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalMachineUpdate</servlet-name>
    <url-pattern>/finalmachineupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FuelTypeController</display-name>
    <servlet-name>FuelTypeController</servlet-name>
    <servlet-class>org.petrolpump.admin.controller.FuelTypeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuelTypeController</servlet-name>
    <url-pattern>/fueltype</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewEmployeeController</display-name>
    <servlet-name>AddNewEmployeeController</servlet-name>
    <servlet-class>org.petrolpump.admin.controller.AddNewEmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewEmployeeController</servlet-name>
    <url-pattern>/addemployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllocateMachineToEmployeeController</display-name>
    <servlet-name>AllocateMachineToEmployeeController</servlet-name>
    <servlet-class>org.petrolpump.admin.controller.AllocateMachineToEmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllocateMachineToEmployeeController</servlet-name>
    <url-pattern>/allocatemachine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinalMachineAllocateController</display-name>
    <servlet-name>FinalMachineAllocateController</servlet-name>
    <servlet-class>org.petrolpump.admin.controller.FinalMachineAllocateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalMachineAllocateController</servlet-name>
    <url-pattern>/finalmachineallocate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeValidateController</display-name>
    <servlet-name>EmployeeValidateController</servlet-name>
    <servlet-class>org.petrolpump.employee.controller.EmployeeValidateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeValidateController</servlet-name>
    <url-pattern>/validate</url-pattern>
  </servlet-mapping>
</web-app>